#Welcome-Header{
	font-weight: 200;
	font-family: Helvetica;
	text-align: center;
	background-color: gray;
	margin: 300px;
}

#Header{ 
	padding: 0.5vw;
	margin: .5v;
}	

body{
	background-color: white;
	font-weight: 200;
	font-family: Helvetica;
}
div .houseListing{
	height: 300px;
	width: 300px;
	background-color: #fdff00;
	display: inline-block;
	margin: 1.5vw;
}
.houseInfo{
	margin:0;
	padding: 2vw;
	text-align: left;
	list-style: none;
}
#update-button{
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}
#navbar{
	background-color: #89B3EA;
	margin: 0;
	width: 100%;
}
#navbar ul {
	margin: 0;
}
#map-campus{
	background-size: cover;
	height: 500px;
	text-align: center;
  	overflow: hidden;
  	margin: 10px;
}
#view-houses{
	text-align: center;
}
.filter-option{
	display: inline-block;
	padding: 0.2vw;
}
#filterbar{
	background-color: #89B3EA;
	padding: 0.5vw;
}
.navbar-links{
	display: inline-block;
	padding: 1vw;
	text-decoration: none;
	margin: 0;
}
.navbar-link{
	text-decoration: none;
	color: white;
	margin: 0;
}

/*div .root {
    width: 100%;
    font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #89B3EA;
    box-sizing: border-box;
}*/

input[type=button], input[type=submit], input[type=reset] {
    background-color: #89B3EA;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}