#Welcome-Header{
	font-weight: 200;
	font-family: Helvetica;
	text-align: center;
	background-color: gray;
	margin: 300px;
}
body{
	background-color: white;
}
div .houseListing{
	height: 300px;
	width: 300px;
	background-color: gray;
	display: inline-block;
	margin: 1vw;
}
#navbar{
	background-color: green;
}
#map-campus{
	/*height: 600px;
	width: 1400px;*/
	background-size: cover;
	height: 500px;
/*  	background: gray;  Just to visualize the extent 
*/  	text-align: center;
  	overflow: hidden;
  	/*position: relative;*/
}
#view-houses{
	text-align: center;
}
.filter-option{
	display: inline-block;
}