<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our House</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
   	<script type="text/jsx" src="{{ url_for('static', filename = 'login.jsx') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>
</head>
<body>
	<div id="Welcome-Header">
	</div>
</body>
</html>
