<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our House</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script type="text/javascript">
    	landlord_arr = {{ landlord | safe}};
      properties_arr = {{properties | safe}};
      // properties = properties_arr[0];
      // landlord = landlord_arr[0];
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'navbar_items.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename = 'landlord_profile.jsx') }}"></script>
   	<script type="text/jsx" src="{{ url_for('static', filename = 'navbar.jsx') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>
</head>
<body>
  <div id ="navbar"></div>
  <div id="LandlordInfo"></div>
  <div id="properties"></div>
</body>
</html>