<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Your Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script type="text/jsx" src="{{ url_for('static', filename = 'newprop.jsx') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'navbar_items.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename = 'navbar.jsx') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyCe1TyZZdi-2EGFlwk7t8153ZsgsK0QIqA"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>

</head>
<body>
<div id ="navbar">
</div>
<div id="Header">
</div>
<div id="root">
</div> 
</body>

</html>