<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our House</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"></link>
</head>
<body>
  <div id ="navbar"></div>
  <div id="profile"></div>
  <div id="properties"></div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
<script type="text/javascript">
  user = {{ user | safe }};
  props = {{ properties | safe }}
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'navbar_items.js') }}"></script>
<script type="text/jsx" src="{{ url_for('static', filename = 'profile.jsx') }}"></script>
<script type="text/jsx" src="{{ url_for('static', filename = 'navbar.jsx') }}"></script>